<form class="row g-3">

    <div class="flex mt-7 input-group">
        <span class="py-1 px-3 bg-black text-white input-group-text">Nombre / Apellidos</span>
        <input type="text" aria-label="Nombre" class="min-w-0 w-1/1 flex-auto px-3 border border-gray-800/20 border-l-0 form-control" required>
        <input type="text" aria-label="Apellidos" class="min-w-0 w-1/1 flex-auto px-3 border border-gray-800/20 border-l-0 form-control" required>
    </div>

    <div class="flex mt-7 input-group">
        <input type="text" class="min-w-0 w-1/1 flex-auto px-3 border border-gray-800/20 border-r-0 form-control" placeholder="email" aria-label="email" required>
        <span class="py-1 px-3 bg-black text-white input-group-text">@</span>
        <input type="text" class="min-w-0 w-1/1 flex-auto px-3 border border-gray-800/20 border-l-0 form-control" placeholder="ejemplo.com" aria-label="ejemplo.com" required>
    </div>

    <div class="mt-7 input-group">
        <select class="w-full px-3 py-1 appearance-none border border-gray-800/20 bg-transparent bg-select-appearance bg-[right_.75rem_center] bg-no-repeat bg-[length:20px_1rem] form-select" aria-label="Elige tú nivel" required>
            <option selected>Elige el nivel en el que vas a participar</option>
            <option value="1">Básico</option>
            <option value="2">Medio</option>
            <option value="3">Avanzado</option>
            <option value="3">Experto</option>
        </select>
    </div>
    
   <div class="mt-7 input-group">
        <div class="flex align-center form-check">
            <input class="appearance-none w-6 h-6 mr-1.5 border border-gray-800/20 checked:bg-checkbox-appearance checked:bg-center checked:bg-no-repeat checked:bg-contain checked:bg-primary checked:border-primary form-check-input" type="checkbox" value="" id="legalAccept" required>
            <label class="form-check-label" for="legalAccept">
            Acepto los términos y condiciones
            </label>
        </div>
   </div>
   
    <div class="mt-7 col-12">
        <button class="w-full px-3 py-1 border-2 border-primary hover:bg-primary hover:text-white transition duration-150 ease-in-out btn btn-primary" type="submit">Enviar</button>
    </div>
    
</form>
